*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html,
body {
    height: 100%;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    position: relative;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;    
    min-width: 320px;
    min-height: 100%;
    width: 1200px;
    overflow: hidden;
    background-color: #C0DBD9;
}
        
.content {
    position: relative;
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
    


.header{
    height: 100px;
    display: flex;
    align-items: center;
    background-color:#7FAFF7;
    padding-left: 30px;
    margin-bottom: 15px;
}

.popup-button{
    width: 206px;
    height: 39px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #A5C7F9;
    color: #fff;
}

.block-first{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto;
    grid-gap: 15px;
    margin-bottom: 15px;
    counter-reset: myCounter;
}

.block-first img{
    display: block;
    width: 100%;
}

.block-first__item{
    position: relative;    
}

.block-first__item::before{
    position: absolute;
    counter-increment: myCounter;
    content:counter(myCounter);
    color:#fff;
    font-size: 53px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.block-first__item:nth-child(4){
    grid-column: span 2;
}

.block-second{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 15px;
    background-color: #88B5BF;
}

.block-second img{
    display: block;
    width: 100%;
}

.footer{
    background-color: #7FAFF7;
    height: 74px;
}

.popup{
    width: 100%;
    max-width: 400px;
    height: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 10000;
    transform:translate(-50%, -150%);
    transition: transform 0.6s ease-out;
}

.popup h1{
    font-size: 53px;
}

.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    visibility: hidden;    
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: fixed; 
    cursor: default; 
    transition: all 0.6s;
    }

.overlay:target {
    visibility: visible;
    opacity: 1;    
    transition: all 0.6s;
    }

.overlay:target + .popup{
    top: 50%;
    transform:translate(-50%, -50%);
    transition: transform 0.6s ease-out;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 43px;
    height: 39px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7FAFF6;
    border-radius: 5px;
}




